# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

# Environment files
.env
.env.*
!.env.example
.env.local
.env.production
.env.staging
.env.development

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.expo-shared/

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# typescript
*.tsbuildinfo
.vercel

# Testing
coverage/
.nyc_output/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Logs
*.log
logs/

# Build files
*.map

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

*_DOCUMENTATION.md
